html {
  font-size: 62.5%;
}

#content {
  background-color: #8befe5;
  height: 59rem;
  color: rgb(3, 3, 3);
  max-width: 75rem;
  margin: 2rem auto 0;
  padding: 3rem;
}

.current-temperature {
  font-size: 8.5rem;
}

@media screen and (max-width: 760px) {
  img {
    width: 100%;
  }
  #content {
    max-width: 38rem;
    padding: 3rem 0.5rem;
  }

  .current-temperature {
    font-size: 4.5rem;
  }

  .Daily-Forecast {
    display: flex;
    flex-wrap: wrap;
  }
}
